/* 공통 스타일 */
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap{
    width: 1100px;
    margin: 0 auto;
    padding-top: 80px;
}
.h1{
    font-size:38px;
    font-weight:bold;
}
.h2{
    font-size:34px;
    font-weight:bold;
}
.h3{
    font-size:32px;
    font-weight:bold;
}
.h4{
    font-size:28px;
    font-weight:bold;
}
.h5{
    font-size:21px;
    font-weight:bold;
}
.h6{
    font-size:18px;
    font-weight:bold;
}
.p{
    font-size:15px;
}