/* 공통 스타일 */
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap{
    max-width: 1100px; /* 최대 커지는 값이 1100px 상한선만 정해져 있고 나머지는 정해져 있지 않음 */
    margin: 0 auto;
    padding-top: 80px;
}
.h1{
    font-size:38px;
    font-weight:bold;
}
.h2{
    font-size:34px;
    font-weight:bold;
}
.h3{
    font-size:32px;
    font-weight:bold;
}
.h4{
    font-size:28px;
    font-weight:bold;
}
.h5{
    font-size:21px;
    font-weight:bold;
}
.h6{
    font-size:18px;
    font-weight:bold;
}
.p{
    font-size:15px;
}
a.view{
    border:1px solid #000;
    margin-top:20px;
    border-radius:19px; /* 반지름 길이 기준 */
    display:block;
    width:150px;
    height:40px;
    text-align:center;
    line-height:38px;
    position:relative;
}
.hide{
    display:none;
}